<html>
<body>
    <h2>Login page</h2>
    <form action="login" method="post">
        <input type="text" name="username"><br>
        <input type="text" name="password"><br>
        <input type="submit" value="Đăng Nhập">
    </form>

</body>


</html>